################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RobiGroup.AskMeFootball/obj
/RobiGroup.AskMeFootball/bin
/RobiGroup.AskMeFootball/Logs
/RobiGroup.AskMeFootball/Properties/PublishProfiles
/RobiGroup.AskMeFootball/wwwroot/files
