@using RobiGroup.AskMeFootball.Core.Identity

@if (User.IsInRole(ApplicationRoles.Admin))
{
    <li>
        <a asp-action="Index" asp-controller="Cards" asp-area="Admin">
            <i class="fa fa-home"></i> <span>Карты</span>
        </a>
    </li>
    <li>
        <a asp-action="Index" asp-controller="Competitives" asp-area="Admin">
            <i class="fa fa-home"></i> <span>Competitives</span>
        </a>
    </li>
    <li>
        <a asp-action="Index" asp-controller="CompetitiveGamers" asp-area="Admin">
            <i class="fa fa-home"></i> <span>Competitive Gamers</span>
        </a>
    </li>
    <li>
        <a asp-action="Index" asp-controller="InfoCards" asp-area="Admin">
            <i class="fa fa-home"></i> <span>Инфо Карты</span>
        </a>
    </li>
    <li>
        <a asp-action="Index" asp-controller="Prizes" asp-area="Admin">
            <i class="fa fa-home"></i> <span>Призы</span>
        </a>
    </li>
    <li>
        <a asp-action="Index" asp-controller="Packs" asp-area="Admin">
            <i class="fa fa-home"></i> <span>Пакеты</span>
        </a>
    </li>
    <li>
        <a asp-action="Index" asp-controller="Users" asp-area="Admin">
            <i class="fa fa-home"></i> <span>Пользователи</span>
        </a>
    </li>
    <li>
        <a asp-action="All" asp-controller="PrizeHistories" asp-area="Admin">
            <i class="fa fa-home"></i> <span>История покупок</span>
        </a>
    </li>
    <li>
        <a asp-action="Index" asp-controller="Tickets" asp-area="Admin">
            <i class="fa fa-home"></i> <span>Тикеты</span>
        </a>
    </li>
    <li>
        <a asp-action="Index" asp-controller="Version" asp-area="Admin">
            <i class="fa fa-home"></i> <span>Версия</span>
        </a>
    </li>
}