<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="Logs/internal-nlog.txt">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target name="file" xsi:type="File" encoding="utf-8" fileName="${basedir}/Logs/${shortdate}/${logger}.txt" layout="${longdate}|${level}${when:when=level=='Warn':inner= }${when:when=level=='Info':inner= }|${event-context:direction}|${message}${exception:format=tostring,StackTrace}"/>
    <target name="console" xsi:type="Console" layout="${longdate}|${level}${when:when=level=='Warn':inner= }${when:when=level=='Info':inner= }|${event-context:direction}|${message}${exception:format=tostring,StackTrace}"/>
  </targets>

    <rules>
        <logger name="*" minlevel="Warning" writeTo="console" />
        <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
</nlog>
